{% extends 'flatpages/default.html' %}

{% block title %}
Categories
{% endblock title %}

{% block defcontent %}
<hr>
<h3>Все категории:</h3>

    <table>
           <tr>
               <td>Название</td>
           </tr>

           {% for category in categories %}
           <tr>
               <td><a href="{{ category.id }}">{{ category.name }}</a></td>
           </tr>
           {% endfor %}

    </table>
<br>
<button> <a href="/posts">Назад</a> </button>
<hr>
{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock defcontent %}