{% extends 'flatpages/default.html' %}



{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
<h3>Все новости:</h3>
{% if posts %}
    <table>
           <tr>
               <td>Название</td>
               <td>Дата публикации</td>
               <td>Часть текста</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.name }}</td>
               <td>{{ post.timestamp|date:"d.m.Y" }}</td>
               <td>{{ post.content|truncatechars:20 }}</td>
           </tr>
           {% endfor %}

    </table>
{% else %}
    <h2>Новостей нет!</h2>
{% endif %}
{% endblock content %}